#mytopnav {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-bottom: 20px;
}

#add {
  padding-bottom: 12px;
  color: var(--offwhite);
  text-align: center;
  font-size: 16px;
  font-family: "Inter";
  margin-top: 14px;
  margin-right: 5.5%;
}

#Sammelung {
  padding-bottom: 12px;
  color: var(--offwhite);
  text-align: center;
  font-size: 16px;
  font-family: "Inter";
  margin-top: 14px;
  margin-left: 6.5%;
  margin-right: 6.5%;
}
#home {
  color: var(--offwhite);
  text-align: center;
  font-size: 16px;
  font-family: "Inter";
  padding-bottom: 12px;
  margin-top: 14px;
  /*margin-left: 0.055%;*/
  margin-bottom: 8px;
}

#myinput {
  background-image: url(../svg/lupeIcon.svg);
  float: left;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 20px;
  width: 325px;
  font-size: 16px;
  text-align: left;
  border: solid var(--formularfeld);
  border-radius: 8px;
  text-decoration: none;
  /* margin-left: 0.055%;*/
  margin-right: 150px;
  margin-top: 8px;
  margin-bottom: 8px;
}

#add:hover,
#Sammelung:hover,
#home:hover {
  color: var(--darkgrey);
  background-image: url(../svg/unterstrich.svg);
  background-repeat: no-repeat;
  background-position-y: 24px;
}

#myinput:focus,
input:focus {
  outline: none;
}

#sneakersammelung {
  /*    font-family: "Inter";
       color:var(--offwhite); 
       letter-spacing: 0.5em;
       text-align: left; 
       border: solid var(--offwhite) 2px;
      border-radius: 8px; 
       font-size: 16px;
       margin-top: 12px;
       padding-left: 8px;
       padding-top: 2px; 
       max-height: 100vh; */
  text-decoration: none;
  pointer-events: none;
  max-width: 90%;
  /* margin-left: 0.055%; */
  margin-right: 4%;
  margin-bottom: 8px;
  margin-top: 4px;
  float: right;
  overflow: auto;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  #mytopnav {
    margin-left: 40px;
  }
}